@font-face {
    font-family: Lexend;
    src: url("../resources/Fonts/Lexend-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Lexend;
    src: url("../resources/Fonts/Lexend-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Lexend;
    src: url("../resources/Fonts/Lexend-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Lexend;
    src: url("../resources/Fonts/Lexend-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Lexend;
    src: url("../resources/Fonts/Lexend-Bold.ttf");
    font-weight: 600;
}